<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form action="http://localhost:5000/results" method="post">
            <h3>Enter Marks</h3>
            <label>Student Name</label><br>
            <input type="text" name = Name /><br>
            <label>Physics</label><br>
            <input type="text" name = physics /><br>
            <label>Chemistry</label><br>
            <input type="text" name = chemistry /><br>
            <label>Maths</label><br>
            <input type="text" name = maths /><br>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>