<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>User Log In</h1>
    {% if error %}
    <p><strong>Error:</strong></p>{{error}}
    {% endif %}
    <form action="" method="post">
        <dl>
            <dt> Username: </dt>
            <dd><input type="text" name ="username" value="{{ request.form.username }}"></dd>
            <dt> Password: </dt>
            <dd><input type="password" name = "password"></dd>
        </dl>
        <input type="Submit" value = "login">
    </form>
</body>
</html>